.menu .ant-menu-inline .ant-menu-submenu-title {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 16px;
    overflow: hidden;
    font-size: 14px;
    line-height: 40px;
    text-overflow: ellipsis;
}